{% extends "base.html" %}

{% block content %}
<div class="container">
<br>
<div class="frame">
<br>
<form class="form-signin" id="Add_personForm" action="" method="POST" name="new_person" role="form">
   {{ form.hidden_tag() }}
  <label>First Name</label><br>
          <!--<input id="first_name" type="text" name="first_name" class="form-control"> -->
          {{ form.first_name(size=30) }}
          {% for error in form.first_name.errors %}
          {{ error }}
          {% endfor %}
          <br/>
  <label>Surname</label><br>
          <!--<input id="surname" type="text" name="surname" class="form-control">-->
          {{ form.surname(size=30) }}
          {% for error in form.surname.errors %}
          {{ error }}
          {% endfor %}<br>
  <br><button id="submit" class="btn btn-primary" type="submit">Create</button>
  <a href="/"><button class="btn btn-primary" type="button">Go Back</button></a>
</form>
<br>
<div role="alert" id="results" style="display:none">
</div>
</div>
</div>
{% endblock %}
