<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Simple Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is very simple project on flask">
    <meta name="author" content="Alexander Kulyk">
    <script src="/static/bundle.js"></script>
  </head>
  <body>
    <div class="container">
    <h1 id="title">{{ title }}</h1>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </body>
</html>
