{% extends "base.html" %}

{% block content %}
<br/>
<div class="container">
<a href="/new_person"><button class="btn btn-primary btn-lg" type="button">New Person</button></a>
<br/>
<br/>
<div class="frame2">
<table border="2px" class="table table-hover">
  <th>First Name</th><th>Surname</th>
  {% for person in persons %}
  <tr class='persons' data-id = {{ person.id }}>
    <td>{{ person.first_name }}</td>
    <td>{{ person.surname }}</td>

  </tr>
  {% endfor %}
</table>
</div>
</div>

{% endblock %}
